.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.custom-checkbox input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input:checked+.checkmark {
  background-color: #00d084;
  /* Circle color when checked */
  border-color: #00d084;
}

/* Create the tick mark */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.custom-checkbox input:checked+.checkmark::after {
  display: block;
}

/* Input container style */
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.task-input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.add-button {
  padding: 8px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  /* font-weight: bold; */
  border-left: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 6px;
}

.add-button:hover {
  background-color: #0056b3;
}

/* Sort-buttton style */
.sort-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sort-select {
  padding: 0.5rem;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

.sort-select:hover {
  border-color: #4f46e5;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-button:hover {
  color: blue;
}

.delete-button:hover {
  color: red;
}

/* Keep both buttons in the same position across tasks */
.flex {
  display: flex;
  align-items: center;
}
